@model New.Models.JamKerjaPolaDt

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>JamKerjaPolaDt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPola" />
            <input type="hidden" asp-for="IdDow" />
            <div class="form-group">
                <label asp-for="MasukA" class="control-label"></label>
                <input asp-for="MasukA" class="form-control" />
                <span asp-validation-for="MasukA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeluarA" class="control-label"></label>
                <input asp-for="KeluarA" class="form-control" />
                <span asp-validation-for="KeluarA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasukB" class="control-label"></label>
                <input asp-for="MasukB" class="form-control" />
                <span asp-validation-for="MasukB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeluarB" class="control-label"></label>
                <input asp-for="KeluarB" class="form-control" />
                <span asp-validation-for="KeluarB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

