@model New.Models.UnitKerja

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4>Apakah anda yakin menghapus unit kerja ini?</h4>
<hr />

<div>
    @*<div class="row">
        <label class="col-2"></label>
        <div class="col-4">
            <h4>//  SKPD .(del)</h4>
        </div>
    </div>*@

    <div class="row">
        <label class="col-2">Id</label>
        <label class="col-4 border-bottom">@Model.Id</label>
    </div>

    <div class="row">
        <label class="col-2">Uraian</label>
        <label class="col-4 border-bottom">@Model.Uraian</label>
    </div>

    <div class="row">
        <label class="col-2">Valid Till</label>
        <label class="col-4 border-bottom">@Model.ValidTill</label>
    </div>


    <form asp-action="Delete">
        <div class="form-group row">
            <input type="hidden" asp-for="Id" />
            <div class="col-sm-2"></div>
            <div class="col-sm-2">

                <input type="submit" value="Hapus" class="btn btn-danger" />
                <a class='btn btn-success' asp-action="Index">Kembali</a>
            </div>
        </div>
    </form>


</div>
