@model New.Models.Rapat

@using New.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input asp-for="IdPeriode" type="hidden" />*@
            @*<input asp-for="Nip" type="hidden" />*@
            @*<input asp-for="Tanggal" />*@
            @*<input asp-for="Id" type="hidden" />*@

            @*<div>
                    <label class="control-label ">Periode : [@Model.IdPeriode]</label>
                    <label class="control-label ">Nip : [@Model.Nip]</label>
                    <label class="control-label ">Tanggal : [@Model.Tanggal]</label>
                </div>*@
            <div class="form-group row">
                <label class="control-label col-sm-2"></label>
                <h5>Pengisian Data Aktifitas</h5>

            </div>
          
    

            <div class="form-group row">
                <label class="control-label col-sm-2">Tanggal</label>
                <input asp-for="Tanggal" readonly class="form-control col-sm-4" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
                &nbsp;
                <input asp-for="IdPeriode" readonly class="form-control col-sm-4" />
                <span asp-validation-for="IdPeriode" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2">Waktu</label>
                <input asp-for="WaktuMulai" class="form-control col-sm-4" />
                <span asp-validation-for="WaktuMulai" class="text-danger"></span>
                &nbsp;
                <input asp-for="WaktuHingga" class="form-control col-sm-4" />
                <span asp-validation-for="WaktuHingga" class="text-danger"></span>
                <a href='#' class="linkRapat btn-light">Rapat</a>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2">Aktifitas</label>
                <textarea asp-for="Aktifitas" class="control-label col-sm-10" rows="4"></textarea>
                <span asp-validation-for="Aktifitas" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Tempat" class="control-label col-sm-2"></label>
                <textarea asp-for="Tempat" class="form-control col-sm-10" rows="3"></textarea>
                <span asp-validation-for="Tempat" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="Hasil" class="control-label col-sm-2"></label>
                <textarea asp-for="Hasil" class="form-control col-sm-10" rows="4"></textarea>
                <span asp-validation-for="Hasil" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-2"></label>
                <input type="submit" value="Simpan" id="Pilihan" name="Pilihan" class="btn btn-primary" />
                @*<input type="submit" value="Simpan" id="Pilihan" name="Pilihan" class="btn btn-primary" />*@
                &nbsp;
                @if (@Model.Id != 0)
                {
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                        Delete
                    </a>

                }

         
                &nbsp;
                <a class='btn  btn-warning' asp-action="Print"><i class="fa fa-print"></i></a>
                &nbsp;
                <a class="btn btn-danger" asp-action="Pdf"><i class="fa fa-file-pdf"></i></a>
            </div>
        </form>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-6">
        <div class="form-group row">

            <div id="myModal">
                <div class="justify-content-center" id="ListAct">

                </div>

                <div class="justify-content-center" id="ListRapat">

                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{

    <script type="text/javascript">

        //$(document).ready(function () {
        //    alert('hi from jQuery!');
        //});

        $(document).ready(function ()
        {
             debugger;
            CallFunction();

            $(".linkRapat").click(function ()
                {
                   //  alert(" tombol rapat ditekan");
                    callRapat();
                });

        });
                //$(function () {
                //    CallFunction();

                //});
        function callRapat()
        {
               var PostBackURL = '/User/Diarie/GetListRapat/';
                $.ajax({
                type: "GET",
                url: PostBackURL,
                contentType: "application/json; charset=utf-8",
                 //data: { "Id": id },
                 cache: false,
                 datatyype: "json",
                 success: function (data) {
                     $('#ListRapat').html(data);
                     $('#ListAct').hide();

                    //$('#myModal').modal('show');
                    // $('#myModalContent').html(data);
                    //$('#myModal').modal('show');
                }
                ,
                error: function () {
                    alert("Data rapat masih kosong");
                }
            });
        }

                function CallFunction()
                {
                    //debugger;

                    //var s = document.getElementById(el);
                    //alert(id);
                    //var id = 1;
                    var PostBackURL = '/User/Diarie/GetListAct/';
                    $.ajax({
                        type: "GET",
                        url: PostBackURL,
                        contentType: "application/json; charset=utf-8",
                        //data: { "Id": id },
                        cache: false,
                        datatyype: "json",
                        success: function (data) {
                            $('#ListAct').html(data);
                            //$('#myModal').modal('show');
                            // $('#myModalContent').html(data);
                            //$('#myModal').modal('show');
                        }
                        ,
                        error: function () {
                            alert("Dynamic content load failed");
                        }
            });
        }


                                        //$(function () {
                                        //    $(".anchorDetail").click(function () {

                                        //        var $buttonClicked = $(this);
                                        //        var id = $buttonClicked.attr('data-id');

                                        //        $.ajax({
                                        //            type: "GET",
                                        //            url: PostBackURL,
                                        //            contentType: "application/json; charset=utf-8",
                                        //            data: { "Id": id },
                                        //            cache: false,
                                        //            datatyype: "json",
                                        //            success: function (data) {
                                        //                $('#myModalContent').html(data);
                                        //                $('#myModal').modal('show');
                                        //            },
                                        //            error: function () {
                                        //                alert("Dynamic content load failed");
                                        //            }
                                        //        });

                                        //    });


                                        //});
    </script>
}
