@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<br />

    <header>
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p><h4>Anda telah keluar dari aplikasi SiCathar</h4></p>
    </header>