@model New.Models.Rapat

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Rapat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdPeriode" class="control-label"></label>
                <input asp-for="IdPeriode" class="form-control" />
                <span asp-validation-for="IdPeriode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaktuMulai" class="control-label"></label>
                <input asp-for="WaktuMulai" class="form-control" />
                <span asp-validation-for="WaktuMulai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaktuHingga" class="control-label"></label>
                <input asp-for="WaktuHingga" class="form-control" />
                <span asp-validation-for="WaktuHingga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktifitas" class="control-label"></label>
                <input asp-for="Aktifitas" class="form-control" />
                <span asp-validation-for="Aktifitas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tempat" class="control-label"></label>
                <input asp-for="Tempat" class="form-control" />
                <span asp-validation-for="Tempat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasil" class="control-label"></label>
                <input asp-for="Hasil" class="form-control" />
                <span asp-validation-for="Hasil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUnitKerja" class="control-label"></label>
                <input asp-for="IdUnitKerja" class="form-control" />
                <span asp-validation-for="IdUnitKerja" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Level" /> @Html.DisplayNameFor(model => model.Level)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

