@model New.Models.Jabatan

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Jabatan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdUnitKerja" class="control-label"></label>
                <select asp-for="IdUnitKerja" class="form-control" asp-items="ViewBag.IdUnitKerja"></select>
                <span asp-validation-for="IdUnitKerja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Uraian" class="control-label"></label>
                <input asp-for="Uraian" class="form-control" />
                <span asp-validation-for="Uraian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEselon" class="control-label"></label>
                <input asp-for="IdEselon" class="form-control" />
                <span asp-validation-for="IdEselon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urut" class="control-label"></label>
                <input asp-for="Urut" class="form-control" />
                <span asp-validation-for="Urut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJabatan" class="control-label"></label>
                <input asp-for="IdJabatan" class="form-control" />
                <span asp-validation-for="IdJabatan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAtas" class="control-label"></label>
                <input asp-for="IdAtas" class="form-control" />
                <span asp-validation-for="IdAtas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

