@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        <img src="~/images/backg.jpg" class="img-fluid mx-auto d-block" width="1600" height="600" />
    </div>

@*<h1 class="display-4">Selamat Datang!</h1>
<h1>Aplikasi Catatan Harian ASN Pemerintah Kota Bukittinggi</h1>*@
@*</div>*@


@*<footer2 class="border-dark footer pl-3 bg-info text-white">
    <div class="container text-center">

        Dinas Komunikasi dan Informatika2 // <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-white">call centre</a>

    </div>
</footer2>*@